/* Home component */
.main_div {
    width: 100vw;
    height: 100vh;
    background-image: url('../home_background_blurred.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    flex-direction: column;
}

.home_div {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
}

.home_div h1 {
    font-size: 4rem;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.home_div span {
    color: rgb(0, 255, 0);
}

.home_div h3 {
    color: wheat;
    font-size: 1.6rem;
    font-style: italic;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);

}

.search_bar_box {
    display: flex;
}

.search_bar {
    width: 400px;
    height: 60px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 5px 0 0 15px;
    font-size: 18px;
}

.search_bar::placeholder {
    font-size: 18px;
}


.search_button {
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: lightgreen;
    border: none;
    border-radius: 0 15px 5px 0;
}

.search_button:hover {
    cursor: pointer;
    background-color: rgb(99, 201, 99);
}

.search_button:active {
    background-color: rgba(99, 201, 99, 0.73);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.carousel_container {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 8px 0 0 0;
}

.carousel_container::before,
.carousel_container::after {
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.carousel_container::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(255, 208, 155) 150%);
}

.carousel_container::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgb(255, 208, 155) 150%);
}

.carousel_slider {
    display: inline-block;
    animation: 1000s slide infinite linear;
}

.carousel_image {
    height: 33vh;
    margin: 0 7px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 50px;
}


/* Navbar component */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 20px;
    height: 70px;
}

.navbar span{
    color: white;
    font-size: 20px;
}

.button_navbar {
    background-color: green;
    border: none;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
}

.button_navbar:hover {
    cursor: pointer;
    outline: 2px solid rgb(43, 255, 0);
}

.search_bar_box_navbar {
    display: flex;
}

.search_bar_navbar {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.search_bar_navbar::placeholder {
    font-size: 16px;
}


.search_button_navbar {
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: lightgreen;
    border: none;
    border-radius: 0 5px 5px 0;
}

.search_button_navbar:hover {
    cursor: pointer;
    background-color: rgb(99, 201, 99);
}

.search_button_navbar:active {
    background-color: rgba(99, 201, 99, 0.73);
}

/* Card component */

.card_container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.card_container:hover{
/*transform */
transform: scale(1.1);
transition: all .2s ease-in-out;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container img {
    width: 300px;
    height: 200px;
}

.card_container h3 {
    margin-top: 0.7rem;
}

/* Results component */

.results_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .results_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .results_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .results_container {
        grid-template-columns: 1fr;
    }
}

/* Description component  */

.main_container{
    text-align: center;
}

.description_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  85%;
    margin: auto;
    padding: 20px;
}

.description_container img{
    width: 500px;
    border-radius: 50px;
}

.description_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 600px;
    padding: 50px;
}

.horizontal_line{
    width: 75%;
    margin: auto;
}

.description_ingredients{
    width: 50%;
    margin: auto;
}

.description_ingredients h2{
    margin-bottom: 10px;
}

.description_ingredients li{
    text-align: left;
}

.list_ingredients{
    font-size: 20px;
    margin-bottom: 10px;
}

.description_instructions{
    width: 70%;
    margin: auto;
}

.description_instructions h2{
    margin-bottom: 10px;
}

.description_instructions p{
    text-align: left;
    font-size: 18px;
}
